.container{
  display: flex;
  flex-direction: column;
  flex-basis: 33%;
  justify-content: space-between;
  padding: 25px 25px;
  max-width: 300px;
  &__description{
    padding: 10px 5px;
  }
}
.row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: baseline;
}
.description__date{
  border: 1px solid #979797;
  border-radius: 2px;
  padding: 2px 5px;
}
.description__title{
  text-transform: uppercase;
  font-weight: bold;
}
.description__genre{
  color: #858585;
}